<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0x3tadDghBy2IqP1BhcE2Q4J_lCS9dno</string>
	<key>GCM_SENDER_ID</key>
	<string>390340839802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schedulo.app</string>
	<key>PROJECT_ID</key>
	<string>schedule-management-98cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-management-98cdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390340839802:ios:2b791350e290533a986ec3</string>
	<key>CLIENT_ID</key>
	<string>200440251043-cijriph76nsh4jrhkkdcrvlhulk5d7nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200440251043-cijriph76nsh4jrhkkdcrvlhulk5d7nf</string>
</dict>
</plist>